<header class="site-header">
    <nav class="navbar">
        <div class="logo">
            <a href="/index.html">TeeSmartHealthy</a>
        </div>
        <ul class="nav-links">
            <li><a href="/index.html">หน้าแรก</a></li>
            <li><a href="/src/pages/articles.html">บทความ</a></li>
            <li><a href="/src/pages/recipes.html">สูตรอาหาร</a></li>
            <li><a href="/src/pages/videos.html">วิดีโอ</a></li>
            <li><a href="/src/pages/contact.html">ติดต่อ</a></li>
        </ul>
    </nav>
</header>